<div class="jumbotron">
    <h2>About Us:</h2>
    <hr class="hr1"><br>

    <h4>
      <div style="text-align: center;">New <span class="D">Deep</span> Road Carrier</div>
      <hr class="hr2">
    </h4><br>
    <h4>
      <div style="text-align: center;">“All progress takes place outside the comfort zone.”</div>
    </h4>


    <h4>Our Services:</h4>
    <hr class="hr1"><br>

    
    <h6><p>We are providing all logistics services to our client. Our specialties in Heavy lifts Over Dimension
      Consignments ( ODC) C & F agents by Road throughout India as well as Nepal, Bhutan, & Bangladesh. We are also
      specialized to setup the plants of Power & Steel, Hydle Power Projects Cements & Sugar Plants as well as
      Engineering & Fertilizer.</p></h6>
    

    <h4>Facilities:</h4>
    <hr class="hr1"><br>

   
    <h6> <p>
      » Heavy lifts<br>
      » high bed trailor<br>
      » low bed trailor<br>
      » 40,50 & 60 feet<br>
      » covered<br>
      » faster<br><br><br>  </p></h6>
  
    <div style="text-align: center;">
      <div class="container-md">
        <div class="container-sd">
          <img src="./assets/img/thumbnail1.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="container-sd">
          <img src="./assets/img/thumbnail2.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="container-sd">
          <img src="./assets/img/thumbnail3.jpg" class="img-thumbnail" alt="...">
        </div>
        <div class="container-sd">
          <img src="./assets/img/thumbnail4.jpg" class="img-thumbnail" alt="...">
        </div>

      </div>
    </div><br><br>
    <div class="footer-copyright text-center py-1">
      <h6>© All rights are reseverd</h6>

    </div>
    <div class="footer-copyright text-center py-1">
      <h6>© 2015 Copyright:NDRC Faridabad(Haryana)</h6>

    </div>

