<div class="jumbotron">
    <div class="container" >
      <h1>Service </h1>
      <hr class="hr1">
    </div>
  </div>
  <div class="container-md">
    <h2>A professional transportation service</h2>
    <p>Business is a game, played for fantastic stakes, and you're in competition with experts. If you want to win, you have to learn to be a master of the game</p>
  </div>
  <div class="coontainer">
    <div class="container-sm">
      <div style ="text-align:center;">
        <div class="row">
          <div class="col md-3">
            <h3>Road transport</h3>
            <p>"We are able to handle any size load, to-and-from anywhere and within any service time frame has made you
              our best and bring to the table win-win..</p>
          </div>
          <div class="col md-3">
            <h3>Road transport</h3>
            <p> road transport is
              our speciality and best freight option</p>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="footer-copyright text-center py-3">© All rights are reseverd

  </div>
  <div class="footer-copyright text-center py-3">© 2015 Copyright:NDRC Faridabad(Haryana)

  </div>