<img src="./../../assets/img/home.jpg" class="img-fluid" alt="...">
<div class="card text-center">
  <div class="card-header bg-primary">
    NEW <span class="D"> DEEP</span> ROAD CARRIER
  </div>
  <div class="card-body1">
    <h5 class="card-title">GOODS <span class="C"> CARRIER </span></h5>
    <h3 id="tcca">Transport Contractor & Commision Agent</h3> 
    <p class="card-text">Land transport is the primary mode of road transport for most India's<br> Road transport
      systems are among the most heavily used in the world.</p>

  </div>
  <div class="card-footer text-muted">

  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row" id="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/card1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">We are providing all logistics services to our client. Our specialties in Heavy
              lifts Over Dimension Consignments ( ODC) C & F agents by Road Rail & Air throughout India as well as
              Nepal, Bhutan, & Bangladesh. We are also specialized to setup the plants of Power & Steel, Hydle Power
              Projects Cements & Sugar Plants as well as Engineering & Fertilizer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/card2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">We are providing all logistics services to our client. Our specialties in Heavy
              lifts Over Dimension Consignments ( ODC) C & F agents by Road Rail & Air throughout India as well as
              Nepal, Bhutan, & Bangladesh. We are also specialized to setup the plants of Power & Steel, Hydle Power
              Projects Cements & Sugar Plants as well as Engineering & Fertilizer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/card3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">We are providing all logistics services to our client. Our specialties in Heavy
              lifts Over Dimension Consignments ( ODC) C & F agents by Road Rail & Air throughout India as well as
              Nepal, Bhutan, & Bangladesh. We are also specialized to setup the plants of Power & Steel, Hydle Power
              Projects Cements & Sugar Plants as well as Engineering & Fertilizer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="more">
  <h4>Get more about us:</h4>
  <hr>
</div>
<div class="jumbotron">
  <div class="container">
    <div class="row1">
      <div class="col">
        <a class="people" routerLink="/enquiry">
          <img src="./assets/img/people.png">
          <p class="card-text1">Meet</p>
        </a>
      </div>
      <div class="col">
        <a class="people" routerLink="/about">
          <img src="./assets/img/people.png">
          <p class="card-text1">About</p>
        </a>
      </div>
      <div class="col">
        <a class="people" routerLink="/contact">
          <img src="./assets/img/people.png">
          <p class="card-text1">Contact</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="more">
  <h4>Why us:</h4>
  <hr>
</div>
<div class="jumbotron">
  <div class="container1">
    <div class="row" id="row">
      <div class="container-md">
        <img src="./assets/img/whyCard1.jpg" class="img-thumbnail" alt="...">
      </div>
      <div class="container-md">
        <p class="WP">Roads are the dominant mode of transportation in India today. They carry almost 85 percent of the
          country's passenger traffic and more than 60 percent of its freight.</p>
      </div>
      <div class="container-md">
        <img src="./assets/img/whyCard2.jpg" class="img-thumbnail" alt="...">
      </div>
    </div>
  </div>
</div>
<footer class="page-footer font-small blue pt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-4 mt-md-0 mt-3">

        <h5 class="text-uppercase">©NDRC || Transport || Service</h5>
        <p>NDRC is providing transportation services for all india.
          special services for Nepal,Bhutan,Jharkhand,Haryana,vishakhapatnam etc.<br>
          we always try to make happy you.</p>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <div class="container">
          <p>Email:-fbd.ndrc@gmail.com
            <br>Phone:- <br>9650767103,9643492245<br>
            8826343965,8287835189
          </p>

        </div>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <div class="container">
          <h5 class="text-uppercase">Social Media </h5>

          <ul class="list-unstyled">
            <a href="https://www.facebook.com/depu.rathore.737" target="_blank"><i class="fa fa-facebook"
                aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/rathoredepu/" target="_blank"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/rathoredepu/" target="_blank"><i class="fa fa-linkedin"
                aria-hidden="true"></i></a>
          </ul>
        </div>
      </div>

    </div>

  </div>
  <div class="footer-copyright text-center py-3">© All rights are reseverd

  </div>
  <div class="footer-copyright text-center py-3">© 2015 Copyright:NDRC Faridabad(Haryana)

  </div>
</footer>